In [19]:
# Import all packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [20]:
data = pd.read_csv("drive/My Drive/Colab Notebooks/Fertilizer Prediction.csv")

In [21]:
data.head(10)

   Temparature  Humidity   Moisture  ... Potassium Phosphorous  Fertilizer Name
0           26         52        38  ...         0           0             Urea
1           29         52        45  ...         0          36              DAP
2           34         65        62  ...         9          30         14-35-14
3           32         62        34  ...         0          20            28-28
4           28         54        46  ...         0           0             Urea
5           26         52        35  ...        10          13         17-17-17
6           25         50        64  ...         0          10            20-20
7           33         64        50  ...         0           0             Urea
8           30         60        42  ...         0          18            28-28
9           29         58        33  ...         7          30         14-35-14

[10 rows x 9 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     int64
 1   Humidity         99 non-null     int64
 2   Moisture         99 non-null     int64
 3   Soil Type        99 non-null     object
 4   Crop Type        99 non-null     object
 5   Nitrogen         99 non-null     int64
 6   Potassium        99 non-null     int64
 7   Phosphorous      99 non-null     int64
 8   Fertilizer Name  99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [23]:
#checking for the missing value
data.isna().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [24]:
#checking for the shape of the data
data.shape

(99, 9)

In [25]:
data['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

## Preprocessing the data

In [33]:
y = data['Fertilizer Name'].copy()
X = data.drop('Fertilizer Name', axis=1).copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [34]:
y

0         Urea
1          DAP
2     14-35-14
3        28-28
4         Urea
        ...
94       28-28
95    10-26-26
96        Urea
97         DAP
98       20-20
Name: Fertilizer Name, Length: 99, dtype: object

In [35]:
X

    Temparature  Humidity   Moisture  ... Nitrogen Potassium  Phosphorous
0            26         52        38  ...       37         0            0
1            29         52        45  ...       12         0           36
2            34         65        62  ...        7         9           30
3            32         62        34  ...       22         0           20
4            28         54        46  ...       35         0            0
..          ...        ...       ...  ...      ...       ...          ...
94           25         50        32  ...       24         0           19
95           30         60        27  ...        4        17           17
96           38         72        51  ...       39         0            0
97           36         60        43  ...       15         0           41
98           29         58        57  ...       12         0           10

[99 rows x 8 columns]

# Creating pipeline from sklearn to handle all transformations within a single pipeline


+ Perform one hot encoder on two columns to convert it into the binary values
+ ColumnTransformer constructor will does the preprocessing on the selected columns. remiander "passthrough" meaning that all other columns will be untouched while ColumnTransformer performs the computation.
+ we are using only one classifier which is Random Forest from the ensemble model of sklearn. 
+standard scaler to make all columns mean = 0 and variance = 1 so all the columns have same range of the values

In [36]:
nominal_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(sparse=False))
])

preprocessor = ColumnTransformer(transformers=[
    ('nominal', nominal_transformer, ['Soil Type', 'Crop Type'])
], remainder='passthrough')

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    ('classifier', RandomForestClassifier())
])

In [37]:
 model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('nominal',
                                                  Pipeline(memory=None,
                                                           steps=[('onehot',
                                                                   OneHotEncoder(categories='auto',
                                                                                 drop=None,
                                                                                 dtype=<class 'numpy.float64'>,
                                                                                 handle_unknown='error',
                                                                                 sparse=False))],
                                                           verbose=False),
                                                  ['Soil Type', 'Crop T...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [41]:
#results
print("Test Accuracy is: {:.2f}%".format(model.score(X_test, y_test)*100))

Test Accuracy is: 90.00%

In [42]:
from sklearn.metrics import classification_report

#### Classification report to see the performance of the model by the various metrics

In [43]:
y_pred = model.predict(X_test)

In [44]:
clr = classification_report(y_test, y_pred)
print(clr)

              precision    recall  f1-score   support

    10-26-26       0.50      0.33      0.40         3
    14-35-14       0.83      1.00      0.91         5
    17-17-17       0.67      0.67      0.67         3
       20-20       1.00      1.00      1.00         4
       28-28       1.00      1.00      1.00         3
         DAP       1.00      1.00      1.00         5
        Urea       1.00      1.00      1.00         7

    accuracy                           0.90        30
   macro avg       0.86      0.86      0.85        30
weighted avg       0.89      0.90      0.89        30