In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import xgboost as xgb

from sklearn.metrics import r2_score

In [12]:
data = pd.read_csv("drive/My Drive/Colab Notebooks/NYC_house.csv")

In [13]:
data

       Unnamed: 0  BOROUGH  ... SALE PRICE            SALE DATE
0               4        1  ...    6625000  2017-07-19 00:00:00
1               5        1  ...        -    2016-12-14 00:00:00
2               6        1  ...        -    2016-12-09 00:00:00
3               7        1  ...    3936272  2016-09-23 00:00:00
4               8        1  ...    8000000  2016-11-17 00:00:00
...           ...      ...  ...        ...                  ...
84543        8409        5  ...     450000  2016-11-28 00:00:00
84544        8410        5  ...     550000  2017-04-21 00:00:00
84545        8411        5  ...     460000  2017-07-05 00:00:00
84546        8412        5  ...   11693337  2016-12-21 00:00:00
84547        8413        5  ...      69300  2016-10-27 00:00:00

[84548 rows x 22 columns]

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [15]:
data.isna().sum()

Unnamed: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [34]:
data['SALE PRICE'].unique()

array(['6625000', ' -  ', '3936272', ..., '408092', '11693337', '69300'],
      dtype=object)

In [89]:
def onehot_encode(df, columns, prefixes):
    df = df.copy()
    
    for column, prefix in zip(columns, prefixes):
        dummies = pd.get_dummies(df[column], prefix=prefix)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(column, axis=1)
    
    return df

# Preprocessing

In [96]:
def preprocess_inputs(df):
  df = df.copy()
  df.columns = df.columns.str.lower().str.replace(' ', '_')
  df = df.rename(columns={"ease-ment": "easement"})

  df['sale_price'] = df['sale_price'].replace(' -  ', np.NaN).astype(np.float)
  #dropping the rows in sale_price column having missing value
  df = df.dropna(axis=0).reset_index(drop=True)

  df = df.drop(["unnamed:_0", "block", "lot", "easement", "address", "apartment_number"], axis=1)

  #fill all missing value with NaN
  df = df.replace(' -  ', np.NaN)

  #fill missing values with column mean
  for column in ["land_square_feet", "gross_square_feet"]:
    df[column] = df[column].astype(np.float)
    df[column] = df[column].fillna(df[column].mean())

  df['sale_date'] = pd.to_datetime(df['sale_date'])
  df['year']= df['sale_date'].apply(lambda x: x.year)
  df['month']= df['sale_date'].apply(lambda x: x.month)
  df['day']= df['sale_date'].apply(lambda x: x.day)

  df = df.drop('sale_date', axis=1)

  #make numerical and categorical columns in string columns
  for column in ["borough", "zip_code"]:
    df[column] = df[column].astype(str)

  #one hot encoding
  df = onehot_encode(
      df,
      columns=[
               'borough', 'zip_code', 'neighborhood', 'building_class_category',
               'tax_class_at_present', 'building_class_at_present', 'building_class_at_time_of_sale'
               ],
               prefixes=['bo', 'zc', 'ne', 'bc', 'tx', 'bp', 'bs']
               )

  #X and y
  X = df.drop("sale_price", axis=1)
  y = df['sale_price']

  scaler = StandardScaler()
  X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

  return X, y

In [97]:
X, y = preprocess_inputs(data)

In [98]:
X

       residential_units  commercial_units  ...     bs_Z2     bs_Z9
0               0.213097         -0.018906  ... -0.006547 -0.043635
1               0.556753         -0.018906  ... -0.006547 -0.043635
2               0.281829         -0.018906  ... -0.006547 -0.043635
3               0.419291         -0.018906  ... -0.006547 -0.043635
4               1.518989         -0.018906  ... -0.006547 -0.043635
...                  ...               ...  ...       ...       ...
69982           0.006904         -0.018906  ... -0.006547 -0.043635
69983           0.006904         -0.018906  ... -0.006547 -0.043635
69984           0.006904         -0.018906  ... -0.006547 -0.043635
69985          -0.130558          0.748331  ... -0.006547 -0.043635
69986          -0.130558          0.090700  ... -0.006547 -0.043635

[69987 rows x 833 columns]

In [95]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69987 entries, 0 to 69986
Columns: 833 entries, residential_units to bs_Z9
dtypes: float64(2), int64(8), uint8(823)
memory usage: 60.3 MB

In [77]:
y

0         6625000.0
1         3936272.0
2         8000000.0
3         3192840.0
4        16232000.0
            ...
69982      450000.0
69983      550000.0
69984      460000.0
69985    11693337.0
69986       69300.0
Name: sale_price, Length: 69987, dtype: float64

In [78]:
y.unique()

array([ 6625000.,  3936272.,  8000000., ...,   408092., 11693337.,
          69300.])

In [79]:
y.isna().sum()

0

In [80]:
print("Percentage of missing value is :", (y.isna().mean())*100)

Percentage of missing value is : 0.0

In [81]:
X.isna().sum()

borough                           0
neighborhood                      0
building_class_category           0
tax_class_at_present              0
building_class_at_present         0
zip_code                          0
residential_units                 0
commercial_units                  0
total_units                       0
land_square_feet                  0
gross_square_feet                 0
year_built                        0
tax_class_at_time_of_sale         0
building_class_at_time_of_sale    0
sale_date                         0
dtype: int64

#Training the model using XGBoost

In [101]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=123)

dtrain = xgb.DMatrix(X_train, label=y_train)
dval = xgb.DMatrix(X_val, label=y_val)
dtest = xgb.DMatrix(X_test, label=y_test)

In [102]:
params = {'learning_rate': 0.001, 'max_depth': 6, 'lambda': 0.01}

model = xgb.train(params, dtrain, num_boost_round=10000, evals=[(dval, 'eval')], early_stopping_rounds=10)

[0]	eval-rmse:6.59545e+06
Will train until eval-rmse hasn't improved in 10 rounds.
[1]	eval-rmse:6.59263e+06
[2]	eval-rmse:6.5899e+06
[3]	eval-rmse:6.58726e+06
[4]	eval-rmse:6.5847e+06
[5]	eval-rmse:6.58222e+06
[6]	eval-rmse:6.57984e+06
[7]	eval-rmse:6.57754e+06
[8]	eval-rmse:6.57531e+06
[9]	eval-rmse:6.57318e+06
[10]	eval-rmse:6.57113e+06
[11]	eval-rmse:6.56917e+06
[12]	eval-rmse:6.56729e+06
[13]	eval-rmse:6.5655e+06
[14]	eval-rmse:6.56379e+06
[15]	eval-rmse:6.56217e+06
[16]	eval-rmse:6.56063e+06
[17]	eval-rmse:6.55917e+06
[18]	eval-rmse:6.5578e+06
[19]	eval-rmse:6.5565e+06
[20]	eval-rmse:6.5553e+06
[21]	eval-rmse:6.55417e+06
[22]	eval-rmse:6.55313e+06
[23]	eval-rmse:6.55217e+06
[24]	eval-rmse:6.55128e+06
[25]	eval-rmse:6.55049e+06
[26]	eval-rmse:6.54978e+06
[27]	eval-rmse:6.54913e+06
[28]	eval-rmse:6.54858e+06
[29]	eval-rmse:6.54811e+06
[30]	eval-rmse:6.54772e+06
[31]	eval-rmse:6.5474e+06
[32]	eval-rmse:6.54718e+06
[33]	eval-rmse:6.54708e+06
[34]	eval-rmse:6.54701e+06
[35]	eval-rmse:6.54708e+06
[36]	eval-rmse:6.54721e+06
[37]	eval-rmse:6.54738e+06
[38]	eval-rmse:6.54768e+06
[39]	eval-rmse:6.548e+06
[40]	eval-rmse:6.54846e+06
[41]	eval-rmse:6.54895e+06
[42]	eval-rmse:6.54956e+06
[43]	eval-rmse:6.5502e+06
[44]	eval-rmse:6.55096e+06
Stopping. Best iteration:
[34]	eval-rmse:6.54701e+06

In [103]:
y_true = np.array(y_test)
y_pred = model.predict(dtest)

In [104]:
print("Model R^2 Score: {:.4f}".format(r2_score(y_true, y_pred)))

Model R^2 Score: -0.0156